@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --light: #FBFDFF;
    --primary: #003A62;
    --secondary: #3D94D1;
    --dark: #000000;
    --disable: #697B98;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: var(--primary);
    background-color: var(--light);
}

.btn-primary {
    background: var(--primary);
    box-shadow: 5px 10px 30px rgba(0, 58, 98, 0.25);
    border: var(--primary);
    border-radius: 10px;
}

.btn-primary:hover{
    background: var(--secondary);
    border: var(--secondary);
}

.image-wrapper {
    background:linear-gradient(0deg, rgba(0, 58, 98, 0.9), rgba(0, 58, 98, 0.9)), url("/img/tugboat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 650px;
    min-height: 100vh;
}

.form-wrapper {
    padding: 40px;
    min-height: 100vh;
}

.form-box {
    background-color: #fff;
    box-shadow: 0px 30px 60px rgba(0, 58, 98, 0.1);
    border-radius: 20px;
    max-width: 560px;
    padding: 30px;
}

.form-box img {
    width: 360px;
    margin: 0px 40px 10px 40px;
}

.form-box a {
    text-decoration: none;
    color: var(--secondary);
}

.form-box .input-group-text {
    background-color: #fff;
}